.LoginParent {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url(/assets/loginMainBg.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.LoginParent_Row {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8));
    color: #fff;
    padding: 30px;
    border-radius: 9px;
}

.LoginParent_Row h6 {
    font-weight: 800;
    font-size: 30px;
}

.LoginBtn {
    width: 100%;
    background: var(--main);
    color: #fff;
    font-weight: 800;
    padding: 5px 16px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
}

.LoginBtn:hover {
    background: var(--mainHover);
}

.CustomP {
    margin-top: 20px;
    font-weight: 700;
    color: #ccc;
    font-size: 14px;
}

.CustomP span {
    margin-left: 8px;
    cursor: pointer;
    font-weight: 800;
}

.CustomP span:hover {
    text-decoration: underline;
}